@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Lobster+Two:ital@1&family=Righteous&family=Roboto&display=swap');
@import url("https://fonts.cdnfonts.com/css/borsok");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Roboto", monospace;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.inputs {
    @apply w-full my-2 p-1 px-2 outline-none border-none bg-transparent text-shades shadow-custom focus:shadow-none focus:outline-1 focus:outline-primary
}

.textarea {
    @apply h-60 resize-none
}

.social-icons {
    @apply w-9 phones:w-10 h-9 phones:h-10 rounded-round grid place-items-center text-primary border-2 border-primary hover:bg-primary hover:text-white transition duration-200
}

.headerlink {
    @apply text-[1.3rem] md:text-[1rem] uppercase transition duration-200 ease-out hover:text-primary
}

.circularBar:hover {
    box-shadow:
        0 0 5px var(--clr),
        0 0 80px var(--clr);
}

.percent svg circle:nth-child(2) {
    stroke: var(--clr);
    animation-delay: 2s;
}

.dot {
    animation: animdot 2s linear forwards;
}

.number {
    animation-delay: 2s;
}

@keyframes animdot {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(calc(3.6deg * var(--num)));
    }
}

.dot::before {
    content: "";
    background: var(--clr);
    box-shadow:
        0 0 10px var(--clr),
        0 0 30px var(--clr);
}

::-webkit-scrollbar {
    width: 0.3rem;
}

::-webkit-scrollbar-track {
    background: var(--Cardbg);
}

::-webkit-scrollbar-thumb {
    background: var(--Ucolor);
    border-radius: 2rem;
}

@media screen and (max-width: 500px) {
    ::-webkit-scrollbar {
        width: 0.2rem;
    }
}
