.aboutMe {
  width: 100%;
  background: var(--aboutBg);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  overflow: hidden !important;
  padding: 2rem 0 4rem 0;
  /* padding: 3rem 1rem 1rem 1rem; */
}
.aboutText,
.myImg {
  display: grid;
  place-items: start;
  align-content: center;
}
.myImg {
  place-items: center;
  position: relative;
}
#stop1,
#stop2 {
  stop-color: var(--Ucolor);
}
.myImg .box {
  width: 20rem;
  height: 20rem;
  position: relative;
}
.myImg .box .box-box1,
.myImg .box .box-box2,
.myImg .box .box-box0 {
  width: 100%;
  height: 100%;
  position: absolute;
}
.myImg .box .box-box1 {
  background: var(--Ucolor);
}
.myImg .box .box-box0 {
  margin: -1.5rem 0 0 -1.5rem;
  width: 30%;
  height: 45%;
  border-top: 2px solid var(--Ucolor);
  border-left: 2px solid var(--Ucolor);
}
.myImg .box .box-box1 {
  margin: 5.5rem 0 0 5.5rem;
  width: 80%;
  height: 80%;
}
.myImg .box .box-box2 {
  background: var(--bgColor);
  display: grid;
  place-items: center;
  cursor: pointer;
  overflow: hidden;
  border: 1px solid var(--Ucolor);
}
.box-box2 img {
  width: 100%;
}
.aboutText div {
  width: 70%;
}
.aboutText div h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #fff;
}
.aboutMe div p {
  letter-spacing: 0.1rem;
  margin: 1rem 0;
  color: #808080;
  line-height: 2rem;
}
.buttons button {
  position: relative;
  text-decoration: none;
  width: 9rem;
  height: 2.5rem;
  cursor: pointer;
  outline: none;
  font-size: 0.9rem;
  margin: 1rem 0;
  border: 0.1rem solid #808080;
  color: #808080;
  border-radius: 0.2rem;
  background: transparent;
  font-family: unset !important;
  font-weight: bolder;
  transition: all 0.2s;
}
.buttons a:nth-child(1) button {
  border: 0;
  background: var(--Ucolor);
  color: var(--aboutBg);
  margin-right: 1rem;
}
.buttons button:hover {
  background: var(--Ucolor);
  color: var(--aboutBg);
  border: 0;
}
button .download-icon {
  margin-inline: 1rem;
}

/** responsiveness **/
@media screen and (max-width: 1130px) {
  .aboutText div {
    width: 90%;
  }
}

@media screen and (max-width: 915px) {
  .buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .buttons button {
    height: 2.4rem;
  }
  .aboutMe {
    grid-template-columns: 50% 50%;
  }
}

@media screen and (max-width: 800px) {
  .aboutText div {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .myImg img {
    width: 12rem;
  }
}

@media screen and (max-width: 600px) {
  .aboutMe {
    grid-template-columns: unset;
    grid-template-rows: 1fr 1fr;
        padding: unset;
  }
  .myImg {
    padding-top: 8rem !important;
    height: auto;
  }
  .aboutText {
    margin-top: 0rem;
  }
  .aboutText div {
    width: 100%;
    padding-inline: 1rem;
  }
  .aboutText div .buttons {
    width: 100%;
  }
  .aboutMe div p {
    letter-spacing: unset;
  }

  .aboutText div h3 {
    position: absolute;
    top: 3rem;
    font-size: 2rem;
  }
}

@media screen and (max-width: 400px) {
  .myImg .box {
    width: 15rem;
    height: 15rem;
    margin-top: -3rem;
  }
  .myImg .box .box-box1 {
    margin: 4rem 0 0 4rem;
  }
  .myImg .box .box-box0 {
    margin: -1rem 0 0 -1rem;
  }
}

@media screen and (max-width: 350px) {
  .aboutText div {
    padding-left: unset;
  }
}
